{% extends "dj_control_room_base/panel_base.html" %}
{% load i18n static %}

{% block panel_title %}{{ title|default:"Dj Urls Panel" }}{% endblock %}

{% block panel_branding %}
<h1 id="site-name"><a href="{% url 'dj_urls_panel:index' %}">Dj Urls Panel</a></h1>
{% endblock %}

{% block panel_breadcrumbs %}
&rsaquo; <a href="{% url 'dj_urls_panel:index' %}">{% trans "Dj Urls Panel" %}</a>
{% endblock %}

{% block panel_styles %}
<link rel="stylesheet" href="{% static 'dj_urls_panel/css/styles.css' %}">
{% endblock %}

{% block panel_content %}
{% endblock %}
